
<html>
<head>

      <title>ADD | LEAD</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	  </style>
</head>
<body>
  <center>
  <div>
    <form class="form" method="post">
      {% csrf_token %}
    <div class="tableclass">
    <table>

    <tbody>
    <tr>
      <td>
        <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
      </td>
      <td>
        {{ form }}
      </td>
    </tr>

    </tbody>
    </table>
  </div>
    <a href="{% url 'AdminDashBoard' %}"><button type="submit" style="width:180px;margin:6px;">SUBMIT</button></a>
    <a href="{% url 'AdminDashBoard' %}"><button type="button" style="width:180px;margin:7px;color:red;">CANCEL</button></a>
    <div>
    </form>


</center>
</body>
</html>
